.wrapper {
  margin-top: 2rem;
  padding: 0.65rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px hsl(var(--border) / 0.75);

  .content {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 0.65rem;

    .icon {
      color: hsl(var(--foreground));
      display: inline;
      height: fit-content;
    }

    .description {
      margin: 0;
    }
  }
}
.error {
  background: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
}

.info {
  background: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.success {
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground)) !important;
}
