.highlighter {
    height: 100%;


    &.highlighter {
        margin-top: 0;
        height: 100%;

        .code-preview {
            padding: 0 !important;
            height: 100%;
        }

        .code-preview__content {
            height: 100% !important;
            max-height: none !important;
            overflow: hidden;

            .code-preview__content__code-wrapper {
                height: 100% !important;
                max-height: none !important;
                overflow: hidden;
                margin: 0;
                border: none !important;
                &.code-preview__content__code-wrapper {
                    border: none;
                }


                .shiki {
                    border: none;
                    height: 100% !important;
                    max-height: unset;
                    overflow: auto;

                    &.shiki {
                        border: none;
                    }


                    code {
                        font-size: 0.725rem;
                        line-height: 1;
                    }
                }
            }
        }
    }
}